body {
  font: bold 15px "Comic Sans MS", sans-serif;
  /*background-image: url("cats.png");*/
}

#calculator {
  width: 350px;
  height: auto;
  background: rgb(181,240,250);
  border-radius: 5px;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  box-shadow: 5px 5px rgb(211,211,211);
  overflow: hidden;
}

#screen {
  background: rgba(0, 0, 0, 0.4);
  height: 40px;
  border-radius: 5px;
  color: white;
  padding: 10px;
	box-shadow: inset 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  text-align: right;
  line-height: 40px;
  overflow: hidden;
}

button {
  float: left;
  width: 80px;
  height: 50px;
  background: white;
  border: none;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  box-shadow: 0px 3px rgb(168,168,168);
}


button.opright {
  margin-right: 0;
}
/*.btn button {
  float:left;
  width: 60px;
  height: 20px;
  background: white;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  user-select: none;
  box-shadow: 0px 3px rgb(168,168,168);
  cursor: crosshair;
}
button.operator {
  background: rgb(165,179,225);
}

button.opright {
  margin-right: 0;
}

button.equal {
  background: rgb(75,242,200);
}

button.clear {
  background: rgb(227,170,214);
}*/

/*hover and active effects*/
button:hover {
  background: #A594F6;
	box-shadow: 0px 3px #6b54d3;
	color: white;
}

button:active {
  background: pink;
  box-shadow: 0 0;
  top: 4px;
  outline: none;
}
